* {
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}
div{
    text-align: left;
    line-height: 1.45em;
    font-family: Merriweather, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}
h1{
    text-align: center;
    font-family: FiraSans, sans-serif;
    font-size: 48px;
    margin-top: 100px;

}
p {
  text-align: center;
}
.homepage{
    color: black;
    font-size: 16px;
    text-indent: 10px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #26272b;
    font-family: Merriweather;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: left;
}


.navbar {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #8B0000;
    padding: 0.5em 1em;
}


.navbar a {
    color: #fff;
}

.navbar:hover {
    background-color: gray;

}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #8B0000;
    z-index: 1;
}
.dropdown-content a {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    background-color: #a2a2a2;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.contactus{
    width:50%;
}

img {
  max-width: 100%;
  height: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.toolbox{
  margin: auto;
  width: 50%;
  padding: 10px;
}
